  <!--footer-->
  <div class="footer_full">
    <div class="footer">
      <p>三元里街工商业联合会 版权所有 | <script src="http://s14.cnzz.com/stat.php?id=4725383&web_id=4725383&show=pic" language="JavaScript"></script>
<br/>
        <a style="color:#000;" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备10236400号</a>   网站技术：广东新汇豪投资有限公司   <a href="http://www.miitbeian.gov.cn/" target="_blank"><img src="themes/index/images/miitbeian.jpg" alt="工业和信息化部" width="26" height="20" title="工业和信息化部"></a></p>
    </div>
  </div>
</div>
</body>
</html>