<div class="nav"> 
     <div class="nav1"> 
      <ul>
          <li><a href="{#$basepath#}">首页</a></li>
          <li><a href="{#$basepath#}shichangdongtai/4">市场动态</a> </li>
          <li><a href="{#$basepath#}zhuantibaodao/4">专题报道</a></li>
          <li><a href="{#$basepath#}xinwenzhongxin/4">新闻中心</a> </li>
          <li><a href="{#$basepath#}shangdutongdao/59">商都通道</a></li>
          <li><a href="{#$basepath#}hangyezixun/4">行业资讯</a></li>
          <li><a href="{#$basepath#}zhanhuihuodong/4">展会活动</a></li>
          <li><a href="{#$basepath#}yejiechaoliu/4">业界潮流</a></li>
          <li style="background:none"><a target='_blank' href="http://www.worldmall.cn">在线批发</a></li>
        </ul>
     </div> 
    </div> 