<p>		
	<ul>
		<li style="padding:0px;"><a href="#">友情链接：</a></li>
	{#foreach item=links_list from=$links#}
		<li><a href="{#$links_list.link#}" target="_blank">{#$links_list.description#}</a></li>
	{#/foreach#}
	</ul>
	<div class="clear"></div>
</p>
<dl>
<dt><a href="{#spUrl c=info a=index id=1104 pid=50#}">关于丽莎</a> | <a href="{#spUrl c=news a=humen id=25 pid=25#}">人才招聘</a> | <a href="{#spUrl c=news a=jiankang id=59 pid=59#}">装修常识</a> | <a href="{#spUrl c=product a=index act=new#}">产品常识</a> | <a href="#">网站地图</a> | <a href="{#spUrl c=info a=index id=1101 pid=1#}">联系我们</a> </dt>
<dd>COPYRIGHT © 2011 广东沙漠绿洲涂料有限公司 All rights reserved <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa3e725ea98520640bf9923f347daba65' type='text/javascript'%3E%3C/script%3E"));
</script></dd>

</dl>