<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META content="IE=7.0000" http-equiv="X-UA-Compatible">
<title>{#if $type!=""#}{#$type#}-{#/if#}{#$title.value#}</title>
<meta name="Keywords" content="{#if $type!=""#}{#$type#}-{#/if#}{#$keywords.value#}" />
<meta name="Description" content="{#if $type!=""#}{#$type#}-{#/if#}{#$desc.value#}" />
<link href="themes/index/css/style.css" rel="stylesheet" type="text/css" />
<meta name="author" content="网站建设：互诺科技 - http://www.hunuo.com" />
<script type="text/javascript" src="themes/index/js/jquery.js"></script>
<script type=text/javascript src="themes/index/js/pic.js" charset="gb2312" ></script>


<!--[if lte IE 6]>
<script src="themes/index/js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>

<body>