{#include file="header.html"#}
<link rel="stylesheet" type="text/css" href="{#$basepath#}themes/index/images/css.css" media="all" />
        <script type="text/javascript">
	$(document).ready(function(){
			$("#nav>ul>li:not(.clear)").click(function(){
					alert(li[0]);
				})
		});
</script> 
<div class="B_big"> 
  <!--content-->
  <div class="white">
    <div class="content_full">
      <div class="content">
        <div class="clear1"></div>
        <div class="banr1"><img src="{#$basepath#}themes/index/images/index22_18.jpg" /></div>
        <div class="clear1"></div>
        <div class="content_left">
          <div class="contentL_box mark">
            <div class="ibox_1">
              <div class="box_T">
                <p>{#$nowcat.catename#}</p>
                <!-- <a href="#" class="aimg"></a> --> </div>
              <div class="box_C">
                <ul class="togglebg">
				
				{#foreach item=news_list from=$news#}
                  <li>
                    <div class="iw">
                      <div class="aimg"><a href="{#$basepath#}{#$smarty.get.id#}/detail/{#$news_list.id#}">{#if $news_list.upfile!=""#}<img src="{#$basepath#}uploads/sm_article/{#$news_list.upfile#}"  width="118" height="119"/>{#else#}<img src="http://www.zgpjzd.com/themes/index/images/nopic.gif"  width="118" height="119" align="left"/>{#/if#}</a> </div>
                      <div class="p1"> <a href="{#$basepath#}{#$smarty.get.id#}/detail/{#$news_list.id#}" style="color:#000000"><b>{#$news_list.title#}</b></a><br />
                        <span>{#$news_list.short#}......<a href="{#$basepath#}{#$smarty.get.id#}/detail/{#$news_list.id#}" class="red">【详细内容】</a></span> </div>
                    </div>
                  </li>
				{#/foreach#} 
				  
				  
                </ul>
                <div class="clear1"></div>
                <div class="page"> {#pager pager=$pager myclass="yahoo2" c="news" a="index" id=$smarty.request.id pid=$smarty.request.pid offset=5#} </div>
              </div>
            </div>
          </div>
        </div>
        {#include file="right.html"#}
        {#include file="link.html"#}
      </div>
    </div>
  </div>
  <!--6--> 
 <script type="text/javascript">
	$(".togglebg li:even").css("background","#f7f7f7");
</script> 
  <!--footer-->
{#include file="footer.html"#}
