{#include file="header.html"#}
<link rel="stylesheet" type="text/css" href="themes/index/images/css.css" media="all" />
<style type="text/css">
.footer ul {
    padding-top: 21px;
}
</style>

<style type="text/css">
#mainzuanti .RightPart .Titlelan {
    background: url("themes/index/images/ny_100.gif") no-repeat scroll 0 0 transparent;
    float: right;
    height: 31px;
    width: 1000px;
}
#mainzuanti .RightPart .Contentlan .ddWrap {
    float: left;
    height: auto;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 978px;
}
#mainzuanti .RightPart .Contentlan {
    border-bottom: 1px solid #CDD9E7;
    border-left: 1px solid #CDD9E7;
    border-right: 1px solid #CDD9E7;
    float: left;
    height: auto !important;
    min-height: 622px;
    overflow: visible;
    width: 998px;
}
#mainzuanti .RightPart {
    float: right;
    width: 1000px;
}
#mainzuanti .RightPart .Contentlan .ddWrap .TextList li {
    border-bottom: 1px dotted #004EA2;
    display: block;
    height: 34px;
    line-height: 34px;
    width: 980px;
}
</style>

<script type="text/javascript">
var current_content;
function switchs(name,n){
  if(current_content){
     $('#' + current_content).slideToggle();

  }
  $('#' + name + n).slideToggle();
  current_content = name + n;

	}

</script>
<script type="text/javascript" src="themes/index/js/guestbook.js"></script>
<div class=" holder" id="mainzuanti">

	 
	 
    <div class="RightPart">
    	<div class="Titlelan">
        	<h2>站内搜索</h2>
        	<p>当前位置<a href="{#spUrl c=main a=index#}">网站首页</a>><a href="{#spUrl c=info a=search keyword=$smary.request.keyword#}">站内搜索</a></p>
        </div>
        <div class="Contentlan">
          <div class="ddWrap">
            <ul class="TextList">
				{#foreach item=news_list from=$news#}
						<li><a href="{#spUrl c=news a=shepingdetail id=$news_list.id pid=$news_list.pid#}" target="_blank">{#$news_list.title#}</a><span></li>
				{#/foreach#}
            </ul>

          </div>
		  	
          
            </div>
    </div>

    <div class="break"></div>
</div>
{#include file="footer.html"#}
