{#include file="header.html"#}
<link rel="stylesheet" type="text/css" href="themes/index/images/css.css" media="all" />
<style type="text/css">
.footer ul {
    padding-top: 21px;
}
</style>
<script type="text/javascript">
var current_content;
function switchs(name,n){
  if(current_content){
     $('#' + current_content).slideToggle();

  }
  $('#' + name + n).slideToggle();
  current_content = name + n;

	}

</script>
<div class=" holder" id="mainzuanti">
	{#include file="zhuanti_left.html"#}
    <div class="RightPart">
    	<div class="Titlelan">
        	<h2 style="font-size:16px;">{#$nowcat.catename#}</h2>
        	<p>当前位置<a href="{#spUrl c=main a=index#}">网站首页</a>><a href="{#spUrl c=news a=sheping id=24#}">专题</a>&gt;<a href="{#spUrl c=news a=baogao id=$nowcat.id sid=$smarty.request.sid#}">{#$nowcat.catename#}</a></p>
        </div>
        <div class="Contentlan">
          <div class="ddWrap">
            <ul class="TextList">
				{#foreach item=news_list from=$news#}
           	        <li><a href="{#spUrl c=news a=ztdetail id=$news_list.id pid=$news_list.pid#}">{#$news_list.title#}</a><span>{#$news_list.add_time|date_format:"%Y-%m-%d"#}</span></li>
				{#/foreach#}
            </ul>
          </div>
		  {#pager pager=$pager myclass="own" c="news" a="zt" id=$smarty.request.id pid=$smarty.request.pid#}	
          
            </div>
    </div>
	<script type="text/javascript">
		var id={#$smarty.request.id#};
		switchs('content',id);
	</script>
    <div class="break"></div>
</div>
{#include file="footer.html"#}
