{#include file="admin/pageheader.html"#}
<script>
        KE.show({
                id : 'content',
				resizeMode : 0
        });
</script>
<h1>
<span class="action-span1"><a href="#">修改图标</a> </span>
<span class="action-span"><a href="{#spUrl c=goodstype a=index#}">图标列表</a></span>
</h1>
<div class="main-div">
<form method="post" action="{#spUrl c=goodstype a=update#}" name="theForm"  onsubmit="return validate()" enctype="multipart/form-data">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">图标图片:</td>
    <td>
      <input type="file" name="upfile"/>&nbsp;最佳大小为:55px*55px{#if $cat.upfile neq null#}<img src="themes/admin/images/yes.gif" />{#else#}<img src="themes/admin/images/no.gif" />{#/if#}
    </td>
  </tr>
  <tr>
    <td class="label">图标名字:</td>
    <td>
      <input type="text" name='name' value="{#$cat.name#}" size="50" />
    </td>
  </tr>
  <tr>
    <td class="label">链接:</td>
    <td>
      <input type="text" name='link' value="{#$cat.link#}" size="50" />
    </td>
  </tr>
  <tr>
    <td class="label">排序:</td>
    <td>
      <input type="text" name='sort_id' size="15"  value="{#$cat.sort_id#}"/>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br />
      <input type="hidden" name="id" value="{#$cat.id#}" />
      <input type="submit" class="button" value="提交" />
      <input type="reset" class="button" value="重置" />
      
    </td>
  </tr>
</table>
</form>
</div>
{#include file="admin/pagefooter.html"#}