{#include file="admin/pageheader.html"#}
<script>
        KE.show({
                id : 'content',
				resizeMode : 0
        });
</script>
<h1>
<span class="action-span1"><a href="#">添加qq群</a> </span>
<span class="action-span"><a href="{#spUrl c=qq a=index nid=$smarty.get.nid#}">qq群列表</a></span>
</h1>
<div class="main-div">
<form method="post" action="{#spUrl c=qq a=insert#}" name="theForm"  onsubmit="return validate()" enctype="multipart/form-data">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">群名称</td>
    <td><input type="text" name="title" value="" size = "60"/>&nbsp;<font color="#FF0000">*</font></td>
  </tr>
  
  
  <tr>
    <td class="label">所属分类</td>
    <td>
		<select name="pid">
		{#foreach item=cat_list from=$catlist#}
			<option value="{#$cat_list.id#}">{#$cat_list.catename#}</option>
		{#/foreach#}
		</select>
	</td>
  </tr>
  
  
  <tr>
    <td class="label">群号码</td>
    <td><input type="text" name="link" value="" size = "60"/>&nbsp;<font color="#FF0000">*</font></td>
  </tr>
  
  
  <tr>
    <td class="label">省会长/负责人邮箱</td>
    <td><input type="text" name="qqheader" value="" size = "60"/>&nbsp;<font color="#FF0000">*</font></td>
  </tr>
  
  <tr>
    <td class="label">建会时间</td>
    <td><input type="text" name="creattime" value="" size = "60"/>&nbsp;<font color="#FF0000">*</font></td>
  </tr>
  
  

  
  
  
  
  
  <tr>
    <td class="label">群图标:</td>
    <td>
      <input type="file" name="upfile"/>40px*40px
    </td>
  </tr>
  <tr>
    <td class="label">排序:</td>
    <td>
      <input type="text" name='sort_id' value="50" size="15" />
    </td>
  </tr>
  
  
<!--   <tr>
    <td class="label">介绍:</td>
    <td><textarea id="content" name="content" cols="100" rows="8" style="width:700px;height:300px;"></textarea></td>
  </tr> -->
  
  
  
  
  
  
  
  
  
  
  

  <tr>
    <td colspan="2" align="center"><br />
      <input type="hidden" name="nid" value="{#$smarty.get.nid#}" />
      <input type="submit" class="button" value="提交" />
      <input type="reset" class="button" value="重置" />
      
    </td>
  </tr>
</table>
</form>
</div>
{#include file="admin/pagefooter.html"#}