{#include file="admin/pageheader.html"#}
<!-- <script>
        var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[id="content"]', {
					allowFileManager : true,
					pasteType : 2,
					newlineTag : this.value,
					filterMode : true,
					urlType : 'domain'
				});
			});
</script> -->
<h1>
<span class="action-span1"><a href="#">添加地址</a> </span>
<span class="action-span"><a href="{#spUrl c=shopcat a=index#}">地址</a></span>
</h1>
<div class="main-div">
<form method="post" action="{#spUrl c=shopcat a=insert#}" name="theForm" enctype="multipart/form-data">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">地址名称</td>
    <td><input type="text" name="catename" maxlength="60" size = "30"/>&nbsp;<font color="#FF0000">*</font></td>
  </tr>

    {#if $smarty.get.pid==0#}
  <tr>
    <td class="label">上级分类</td>
    <td>
      <select name="pid" >
        <option value="0">顶级分类</option>
        {#foreach item=cat from=$cat_select#}
        	<option value="{#$cat.id#}" style="padding-left:{#$cat.level*20#}px">{#$cat.catename#}</option>
        {#/foreach#}
      </select>
    </td>
  </tr>
  {#/if#}
  
<!--   <tr>
    <td class="label">价格:</td>
    <td>
      <input type="text" name='price' value="50" size="15" />
    </td>
  </tr> -->
 <tr style="display:none">
    <td class="label">分类图片:</td>
    <td>
      <input type="file" name="upfile"/> 最佳图片大小为348*177px
    </td>
  </tr>
  
  <tr>
    <td class="label">排序:</td>
    <td>
      <input type="text" name='sort_id' value="50" size="15" />
    </td>
  </tr>
 <tr style="display:none">
        <td class="label">链接:</td>
        <td><input type="text" name='short' value="http://" size="50" /><font color="#FF0000"></font></td>
  </tr>

	<tr style="display:none">
        <td class="label">分类介绍</td>
        <td><textarea id="content" name="content" cols="100" rows="8" style="width:700px;height:300px;"></textarea></td>
  </tr> 
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="button" value="提交" />
      <input type="reset" class="button" value="重置" />

    </td>
  </tr>
</table>
</form>
</div>
{#include file="admin/pagefooter.html"#}