{#include file="header.html"#}
<link rel="stylesheet" type="text/css" href="{#$basepath#}/themes/index/images/css.css" media="all" />
<style type="text/css">
.footer ul {
    padding-top: 21px;
}
</style>
<div class="top_flash1">
  <div class="menu">
    <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="984" height="119">
      <param name="movie" value="menu.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="transparent" />
      <param name="swfversion" value="6.0.65.0" />
      <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
      <param name="expressinstall" value="Scripts/expressInstall.swf" />
      <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
      <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="menu.swf" width="984" height="119">
        <!--<![endif]-->
        <param name="quality" value="high" />
        <param name="wmode" value="transparent" />
        <param name="swfversion" value="6.0.65.0" />
        <param name="expressinstall" value="Scripts/expressInstall.swf" />
        <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
        <div>
          <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
          <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
        </div>
        <!--[if !IE]>-->
      </object>
      <!--<![endif]-->
    </object>
  </div>
  <div class="t1"><img src="{#$basepath#}/themes/index/images/t4.png" /></div>
</div>

<div class="m_con">

<div class="left_con">
<div class="left_list product_list yh_font"  >
<dl>
<dt class="product_tit">
产品展示<br />
Products
</dt>
<dd><a href="{#spUrl c=product a=index act=new#}" onfocus=this.blur();>新品上市</a></dd>
{#foreach item=rows_list from=$catlist key=k name="rowsb"#}
<dd><a href="{#spUrl c=product a=index id=$rows_list.id#}">{#$rows_list.catename#}</a></dd>
{#/foreach#}
<div class="clear"></div>
</dl>
</div>
<div class=" tel_left"><img src="{#$basepath#}/themes/index/images/tel5.jpg" /></div>
</div>

<div class="right_con">
<dl>
<dt style="height:31px; margin-top:20px;"><img src="{#$basepath#}/themes/index/images/tit3.jpg" align="absmiddle"/>&nbsp;&nbsp;<span class="yh_font">{#$cat.catename#}</span>
<div class="r_txt"><a href="./">首页</a> > {#$cat.catename#}</div>
</dt>
<dd>
<div class="list">
<ul>


{#foreach item=goods_list from=$goodslist#}
<li><a href="{#spUrl c=product a=detail id=$goods_list.id pid=$goods_list.pid#}"><img src="{#$basepath#}/uploads/sm_goods/{#$goods_list.upfile#}"  class="left" width="110"/></a>
<p>
<em>{#$goods_list.title#}</em>
产品特点：<br />
{#$goods_list.short_title#}<br />
<span><a href="{#spUrl c=product a=detail id=$goods_list.id pid=$goods_list.pid#}" style="color:#006a3d">查看详细</a></span>
</p>
</li>
{#/foreach#}


</ul>
</div>
<div class="clear"></div>
<div class="page">{#pager pager=$pager myclass="yahoo2" c="product" a="index" id=$smarty.request.id offset=5#}		</div>
</dd>

</dl>
</div>
<div class="clear"></div>

</div>

<div class="foot_1 footer">
{#include file="footer.html"#}
</div>

</body>
</html>