{#include file="header.html"#}
        <script type="text/javascript">
	$(document).ready(function(){
			$("#nav>ul>li:not(.clear)").click(function(){
					alert(li[0]);
				})
		});
</script> 
<div class="B_big"> 
  <!--content-->
  <div class="white">
    <div class="content_full">
      <div class="content">
        <div class="clear1"></div>
        <div class="banr1"><img src="themes/index/images/index22_18.jpg" /></div>
        <div class="clear1"></div>
        <div class="content_left">
          <div class="contentL_box mark news">
            <div class="ibox_1">
              <div class="box_T gai">
                <p>网站地图</p>
                <div class="postion"> 首页 > 网站地图 </div>
              </div>
              <div class="box_C">
                <div class="p1"><b>网站地图</b><br/>
                  <span></span></div>
                <!-- <div class="aimg"><img src="themes/index/images/news_07.jpg" /></div> -->
                <div class="p2" style="padding:20px;">
                  <ul>
					<li><a target='_blank' href='http://www.zgpjzd.com/'>首页</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/shichangdongtai/4'>市场动态</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/zhuantibaodao/4'>专题报道</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/xinwenzhongxin/4'>新闻中心</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/shangdutongdao/59'>商都通道</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/hangyezixun/4'>行业资讯</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/zhanhuihuodong/4'>展会活动</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/yejiechaoliu/4'>业界潮流</a></li>
					<li><a target='_blank' href='http://www.worldmall.cn/'>在线批发</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/guanyuwomen'>关于我们</a></li>
					<li><a target='_blank' href='http://www.zgpjzd.com/liuyanban'>留言板</a></li>
					
				  </ul>
				  <div class='clear'></div>
                </div>
                <div class="clear1"></div>
              </div>
            </div>
          </div>
        </div>
        {#include file="right.html"#}
        {#include file="link.html"#}
      </div>
    </div>
  </div>
  <!--6--> 
  
  <!--footer-->
{#include file="footer.html"#}
