html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font: 12px/1.5 \5b8b\4f53,Arial,sans-serif;
    background: ##d2000f;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

table,td,tr,th {
    font-size: 12px;
}

ol,ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    font-size: 12px;
}

img {
    vertical-align: top;
    border: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    font-weight: bold;
}

address,cite,code,em,th,i {
    font-style: normal;
}

.hx a,.hx em,.fB {
    font-weight: bold;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}

a {
    color: #252525;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #ba2636;
    text-decoration:none;
}

a:active {
    color: #ba2636;
}
.top5{
	padding-top: 5px;
}
.red {
    color: #b11818;
}
.contents div.top10 {
    padding-top: 10px;
}

.contents {
    background: url(images/xiqing_02.gif) #d2000f no-repeat -8px 0px;
}
/*头部*/
.header {
    height: 30px;
    background: #fefcf1;
}

.head {
    width: 992px;
    height: 30px;
    margin: 0 auto;
    background: #fefcf1;
    font-size: 14px;
    color: #797979;
    line-height: 30px;
	/*position: absolute;*/
}

.head1 {
    width: 323px;
    height: 30px;
    float: left;
}

.head2 {
    width: 119px;
    height: 30px;
    float: right;
}
/*头部*/
/*广告条*/
.banner {
    height: 200px;
}
/*广告条*/
/*导航*/
.nav {
    width: 991px;
    height: 32px;
    margin: 0 auto;
}

.nav1 {
    margin-top: 168px;
    width: 580px;
    height: 32px;
    float: right;
    background: url(images/nav_bg.png)  no-repeat;
}

.nav1 ul {
    margin-left: 25px;
    background-color: #f60a08;
    height: 32px;
    line-height: 32px;
}

.nav1 ul li a {
	/*font-weight: bold;*/
    float: left;
    font-size: 13px;
    color: #fffeff;
    text-align: center;
    margin: 0px 5px;
    font-family: 微软雅黑;
}

.nav1 ul li a:hover {
	/*display: block;*/
    color: #f6a225;
}
/*导航*/
/*中部*/
.body {
    width: 992px;
    height: 260px;
    background: url(images/xiqing_05.gif) no-repeat;
    margin: 0 auto;
    position: relative;
}


/*中部*/
/*内容*/
.main {
    width: 989px;
    height: 310px;
    margin: 0 auto;
    background: #ffffff;
}

.main1 {
    width: 623px;
    height: 260px;
    border: 2px solid #dc2a20;
    float: left;
    margin-left: 16px;
    position: relative;
}

.content1 {
    padding-top: 16px;
}

.main2 {
    width: 320px;
    height: 225px;
    float: left;
    margin: 10px;
}

.main2 h3 {
    width: 247px;
    height: 23px;
    font-size: 20px;
    color: #dc2a20;
    margin: 11px;
}

.main2 img {
    width: 115px;
    height: 91px;
    float: left;
    margin: 5px 11px;
    padding: 1px;
    border: 1px solid #ccc;
}

.main2 p {
    padding-left: 10px;
}

.main3 {
    width: 262px;
    height: 214px;
    float: right;
    margin: 10px;
}

.main3 h3 {
    border-bottom: #e6584f 2px solid;
    text-align: right;
    width: 70%;
    height: 27px;
    color: #262626;
    margin-top: 8px;
    margin-bottom: 7px;
}

.ul1 li {
    line-height: 1.8em;

}

.side-bar a,.chat-tips i {
	background-image: url(images/gdt-img.png);
	background-repeat: no-repeat;
}

.side-bar {
	width: 66px;
	position: fixed;
	bottom: 20px;
	right: 25px;
	font-size: 0;
	line-height: 0;
	z-index: 100;
}
.side-bar a {
	width: 66px;
	height: 66px;
	display: inline-block;
	background-color: #a80507;
	margin-bottom: 2px;
}
.side-bar a:hover {
	background-color: #669fdd;
}
.side-bar .icon-qq {
	background-position: 0 -62px;
}
.side-bar .icon-chat {
	background-position: 0 -130px;
	position: relative;
}
.side-bar .icon-chat:hover .chat-tips {
	display: block;
}
.side-bar .icon-blog {
	background-position: 0 -198px;
}
.side-bar .icon-mail {
	background-position: 0 -266px;
}
.side-bar .icon-totop {
	background-position: 0 -334px;
}
.chat-tips {
	padding: 20px;
	border: 1px solid #d1d2d6;
	position: absolute;
	right: 78px;
	top: -55px;
	background-color: #ffffff;
	display: none;
}
.chat-tips i {
	width: 9px;
	height: 16px;
	display: inline-block;
	position: absolute;
	right: -9px;
	top: 80px;
	background-position:-88px -350px;
}
.chat-tips img {
	width: 138px;
	height: 138px;
}



.bj {
    width: 24px;
    height: 24px;
    background: url(images/bj.jpg) no-repeat;
    position: absolute;
    top: 248px;
    left: -14px;
}

.bj1 {
    left: -14px;
    top: -8px;
}

.bj2 {
    left: 611px;
    top: -8px;
}

.bj3 {
    top: 248px;
    left: 611px;
}

.dl {
    width: 49px;
    height: 78px;
    background: url(images/xiqing_09.gif) no-repeat;
    left: 554px;
    top: -2px;
}

.mri {
    float: right;
}

.mri h3 {
    font-family: "黑体";
    text-align: center;
}

/*内容*/
.zb {
    width: 991px;
    height: 104px;
    background: url(images/xiqing_13.gif) no-repeat;
    margin: 0 auto;
}

.wrap_con {
    width: 992px;
    margin: 0 auto;
    background: #ffffff;
    padding-bottom: 18px;
}

.w-left {
    width: 639px;
    height: 226px;
    float: left;
}

.keyword {
    width: 640px;
    height: 70px;
    background: url(images/guanjianzi_03.gif) no-repeat;
}

.keyword h4 {
    padding-top: 30px;
    padding-left: 78px;
    color: #ffffff;
}

.l-z {
    width: 307px;
    height: 156px;
    float: left;
    margin-left: 10px;
}

.l-z img {
    width: 121px;
    height: 92px;
    float: left;
    margin: 5px 11px;
}

.l-z p {
    margin-left: 10px;
}

.l-y {
    width: 282px;
    height: 148px;
    float: right;
}

.w-right {
    width: 339px;
    float: right;
}

.w-right .keyword {
    background: url(images/zgpjzd_05.gif) no-repeat;
}

.sideBar {
    width: 325px;
    height: 83px;
}

.r-s img {
    width: 96px;
    height: 72px;
    float: left;
}

.r-s span {
    width: 220px;
    height: 15px;
    float: right;
}

.wrap_bw {
    width: 609px;
    height: 225px;
    background: #ffffff;
}

.sidebar_a {
    width: 127px;
    height: 177px;
    float: left;
    margin-left: 25px;
}

.sidebar_a ul li a {
    font-size: 14px;
}

.sidebar_a ul li {
    line-height: 22px;
}

.sidebar-b {
    width: 454px;
    height: 226px;
    float: right;
}

.list {
    width: 118px;
    height: 100px;
    float: left;
    margin-left: 32px;
}

.list a img {
    width: 115px;
    height: 81px;
}

.list p {
    text-align: center;
}

.box_C {
    background: #f0f0f0;
    overflow: hidden;
}

.adder {
    margin-bottom: 8px;
}

.aimg img {
    margin-right: 5px;
}

.ibox_21 {
    float: left;
    display: inline;
    width: 487px;
    border: 1px solid #c9c9c9;
}

.ibox_21 .box_T {
    height: 46px;
    width: :487px;
    background: url(images/index25_03.jpg) no-repeat top;
}

.ibox_21 ul {
    list-style-type: none;
    font-size: 0;
    width: 446px;
    margin: 0 auto;
}

.ibox_21 ul li {
    width: 400px;
    height: 24px;
    line-height: 0;
}

.ibox_21 ul li a {
    float: left;
    text-decoration: none;
    font: 12px/24px 宋体;
    padding-left: 15px;
    color: #333333;
    background: url(images/index25_14.jpg) no-repeat left;
}

.ibox_21 .box_T p {
    float: left;
    font: 14px/30px 微软雅黑;
    color: #fff;
    text-indent: 32px;
}

.ibox_21 .iw .p1 {
    float: left;
    width: 312px;
    margin: 5px 0 0 5px;
    font: 12px/20px 宋体;
}

.ibox_21 .iw .aimg {
    float: left;
    padding: 6px;
    height: 108px;
    width: 137px;
    margin: 5px 5px 0 5px;
    background: url(images/index25_06.jpg) no-repeat;
    border: 0;
}

.link {
    border: 1px solid #cccccc;
    padding: 13px 0 13px 23px;
    height: auto;
    overflow: hidden;
    float: left;
    width: 965px;
}

.link span {
    font-weight: bold;
}

.footer-b {
    padding-top: 28px;
    padding-left: 38px;
    background: url(images/zgpjzd_17.gif) no-repeat;
    width: 100%;
    height: 188px;
}
.footer-b .js{
    width: 930px;
}

.foot {
    width: 992px;
    height: 88px;
    margin: 0 auto;
}

.foot p {
    text-align: center;
    color: white;
    line-height: 2em;
}



/*图片滚动*/

.roll {
    width: 988px;
    height: 147px;
    margin: 0 auto
}

.roll dt {
    width: 37px;
    float: left;

    height: 147px;
}

.roll dd {
    width: 951px;
    float: left
}

.roll dd ul {
    width: 878px;
}

.roll dd li {
    width: 136px;
    float: left;
    margin-left: 10px;
    display: inline;
    color: #333;
    text-align: center;
    line-height: 25px;
    margin-top: 6px;
    height: 140px;
    overflow: hidden;
}

.roll dd li a {
    color: #333
}

.roll dd li a:hover {
    color: #333
}

.focal_P {
    width: 989px;
    height: 259px;
    position: relative;
    float: left;
}

#frame2 {
    width: 680px;
    height: 419px;
    position: absolute;
    top: 0;
    left: 0px;
}

#btn2 {
    position: absolute;
    right: 6px;
    bottom: 6px;
}

#img2 a {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

#btn2 span {
    cursor: pointer;
    color: #fff;
    float: left;
    line-height: 20px;
    height: 20px;
/* background:#fff;*/
    text-align: center;
    width: 21px;
    margin: 4px 6px 0 0;
    display: inline;
}

*html #btn2 span a {
    color: #fff;
    background: #fff;
    display: block
}

#btn2 span.hov {
    background: url(images/a-hover.gif) no-repeat 3px 0;
    color: #fff
}

*html #btn2 span.hov {
    color: #fff;
    background: red;
    display: block
}

/*第二页面*/
.content_left {
    float: left;
    width: 640px;
}

.iw .aimg {
    float: left;
    width: 118px;
    margin: 5px 5px 0 5px;
    border: 1px solid #c8c8c8;
}
.iw .p1 h4 a{
	color: #000;
}

.iw .p1 {
    float: left;
    width: 450px;
    margin: 15px 0 0 5px;
    line-height: 2em;
}

.fanye {
    text-align: center;
    height: 40px;
    padding-left: 12px;
    width: 680px;
    font-size: 12px;
}

.fanye .TextList5 li {
    color: #7F9DB9;
    float: left;
    border: none;
    width: auto;
    line-height: 30px;
    height: auto;
}

.fanye .TextList5 {
    color: #7F9DB9;
    float: right;
    padding-top: 6px;
    width: 680px;
    text-align: center;
}

DIV.fanye {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 57px;
    PADDING-BOTTOM: 3px;
    MARGIN: 3px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: center
}

DIV.fanye A {
    BORDER-RIGHT: #7F9DB9 0px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #7F9DB9 0px solid;
    PADDING-LEFT: 5px !important;
    PADDING-BOTTOM: 2px;
/*  MARGIN: 2px;  */
    BORDER-LEFT: #7F9DB9 0px solid;
    COLOR: #7F9DB9;
/*  PADDING-TOP: 2px;  */
    BORDER-BOTTOM: #7F9DB9 0px solid;
    TEXT-DECORATION: none;
    background: none !important;
}

DIV.fanye A:hover {
    BORDER-RIGHT: #7F9DB9 0px solid;
    BORDER-TOP: #7F9DB9 0px solid;
    BORDER-LEFT: #7F9DB9 0px solid;
    COLOR: #000;
    BORDER-BOTTOM: #7F9DB9 0px solid
}

DIV.fanye A:active {
    BORDER-RIGHT: #7F9DB9 0px solid;
    BORDER-TOP: #7F9DB9 0px solid;
    BORDER-LEFT: #7F9DB9 0px solid;
    COLOR: #000;
    BORDER-BOTTOM: #7F9DB9 0px solid
}

DIV.fanye .current {
    BORDER-RIGHT: #7F9DB9 0px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #7F9DB9 0px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
 /* MARGIN: 2px; */
    BORDER-LEFT: #7F9DB9 0px solid;
    COLOR: #00603F;
 /* PADDING-TOP: 2px; */
    BORDER-BOTTOM: #7F9DB9 0px solid;
    BACKGROUND: #00603F;
}

DIV.fanye SPAN.disabled {
    BORDER-RIGHT: #eee 0px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #eee 0px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
 /* MARGIN: 2px;  */
    BORDER-LEFT: #eee 0px solid;
    COLOR: #ddd;
 /* PADDING-TOP: 2px; */
    BORDER-BOTTOM: #eee 0px solid
}

.ul3 li {
    background: url(images/hangye_07.jpg) repeat-x bottom;
    width: 600px;
    height: 30px;
    line-height: 0;
}

.ul3 li span {
    margin-right: 50px;
    float: right;
}

.ul3 li a {
    text-decoration: none;
    font: 12px/30px 宋体;
    padding-left: 75px;
    color: #363636;
    background: url(images/hangye_03.jpg) no-repeat 57px center;
}

.content_right {
    float: right;
}

.ul2 li {
    width: 146px;
    float: left;
    margin-right: 22px;
    margin-bottom: 15px;
}

.content_right .ul2 li a {
    text-align: center;
}

.content_right .ul2 li a img {
    width: 146px;
    height: 101px;
}

/**content2**/

.togglebg li{
	clear: both;
}
.mark .iw .aimg {
    float: left;
    width: 118px;
    margin: 5px 5px 0 5px;
    border: 1px solid #c8c8c8;
}
.content-c .p1{
	text-align: center;
}
.content-c .p1 b {
    font: bold 16px/28px 宋体;
    color: #b11818;
    
}
.p2 p {
	font-size: 14px;
	line-height: 1.6em;
    color: #333;
    margin-bottom: 24px;
}
p strong{
	color: #a47e2e;
}

.btn{
	    background-color: #0055cc;
	        background-color: #0074cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
        border: 1px solid #cccccc;
            border-radius: 4px;
}

.content-l form{
padding-left: 50px;
}